<!DOCTYPE html>
<head>
  <%- include('head'); %>
</head>

<body class="bg-dark">
  <header><%- include('menu'); %></header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 mt-5">
        <div class="card">
          <div class="card-header text-center"><h3>Página Inicial</h3></div>
          <div class="card-body text-center">
            <h5>Bem vindo ao Marquinhos Games!</h5>
            <br />
            <h5>Acesse os jogos no botão abaixo!</h5>
            <br />
            <a href="/show" class="btn btn-primary">Lista de Jogos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
